@import  "partials/_variables.scss";
@import  "partials/_common.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import  "partials/_header.scss";

@import  "partials/_footer.scss";


body {

}
